<div class="row">
<div class="col-md-2"></div>
	<div class="col-md-4">
  		<div class="panel panel-info">
  			<div class="panel-heading">
    			<a href="/agenda"><h3 class="panel-title">AGENDA</h3></a>
  			</div>
  			<div class="panel-body">
  				
 			</div>
 		</div>
  	</div>
  	<div class="col-md-4">
  		<div class="panel panel-success ">
  			<div class="panel-heading">
    			<a href="/sugestoes"><h3 class="panel-title">SUGESTOES</h3></a>
  			</div>
 			<div class="panel-body">
 			</div>
 		</div>
  	</div>
</div>

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4">
  		<div class="panel panel-warning">
  		<div class="panel-heading">
    			<a href="/sugestoes"><h3 class="panel-title">TECNOLINE</h3></a>
  			</div>
  			<div class="panel-body">
  				
 			</div>
 		</div>
  	</div>

  	<div class="col-md-4">
  		<div class="panel panel-danger ">
  		<div class="panel-heading">
    			<a href="/sugestoes"><h3 class="panel-title">REDES SOCIAIS</h3></a>
  			</div>
 			<div class="panel-body">
 			<img class="media-object" src="img/tecnotalks.png">
 			</div>
 		</div>
  	</div>
</div>
