<div class="container" >
	<div class="row">
		<div class="col-xs-7">
			<div class="page-header">
				<h1> form de agenda</h1>
			</div>	
			<form role="form">
			  <div class="form-group">
			    <label for="inputTitleEvent">Titulo Evento</label>
			    <input type="text" class="form-control" ng-model="event.title" id="inputTitleEvent" >
			    <label for="inputLocalEvent">Local</label>
			    <input type="text" class="form-control" ng-model="event.local" id="inputLocalEvent" >
			    <label for="inputDescriptionEvent">Descrição</label>
				<textarea id="inpuDescriptionEvent" class="form-control" ng-model="event.description"></textarea>
			    <label for="inputDateEvent">Data Evento</label>
			    <div ng-model="event.date">
				    <datepicker id="inputDateEvent" type="text" />
				</div>
			  </div>
			  <button ng-click="save(event)" class="btn btn-success">Enviar</button>
			</form>
			<pre>form = {{event | json}}</pre>
			
		</div>	
  	</div>
</div>


